.main-header .logo {
    width: 230px;
}
.form-centris {
    padding-left:50px;
}
.aside-main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
}

/* 
.content-wrapper, .main-footer {
    margin-left: 0px;
} */
