.mt-50 {
    margin-top: 0px;
}
.credit-btn a {
    color: brown;
}

.credit-btn:hover{
    background: #FFBB38;
}

a.credit-btn{
    color: white;
}
.header-area .credit-main-menu .classy-navbar .contact::before {
    width: 155%;
    height: 184%;
}

.jrk {
    margin: 40px 0 0;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-family: "Montserrat";
    text-transform: capitalize;
    padding-bottom: 5%;
}

h3 {
    padding-bottom: 5%;
}

.section-padding-100-0 {
 padding-top: 0px;
    }

p{
    color: #ffffff;
}

.section-padding-100-0{
    background-color: #FFBB38;
}

.target-col-wrap p{
    color: black;
}


section.target .target-col-wrap img {
width: 40%;
}

img{
    vertical-align: middle;
    padding-bottom: 10%;
}

body{
font-family: "Open Sans", sans-serif;
font-size: 14px;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}

.footer-area .copywrite-area {
border-color: #FFBB38;
padding: 0px;
}

.footer-area .copywrite-area .copywrite-text a{
    text-align: center;
}

.single-service-area .icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: #003679; */
    text-align: center;
    margin-right: 20px;
    line-height: 60px;
    color: #ffffff;
    font-size: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 /*tabel dashboard*/
 .content-header {
    position: relative;
    padding: 0px 0px 0 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;   